.heroBackground {
  position: relative;
  overflow: hidden;
}

.heading {
  max-width: 54rem;
  line-height: 1.2;
}

@keyframes float {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 0.3;
  }

  50% {
    transform: translate(30px, -30px) scale(1.1);
    opacity: 0.5;
  }
}

.content {
  position: relative;
  z-index: 10;
}

.heroBackground {
  background: url("../../../../public/assets/images/hero.webp") no-repeat center
    center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 6rem;
  position: relative;
}

.heroBackground::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  pointer-events: none;
}

section.bottomZero {
  padding-bottom: 0rem !important;
}

@media screen and (max-width: 768px) {
    .heroBackground {
      background: none;
    }
  }

@media screen and (max-width: 576px) {
  .heroBackground {
    padding-top: 0rem;
  }
}
