.HomenewBanner {
  background: url("/assets/images/homenewbanner.webp") no-repeat center center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  align-items: center;
}

.colLeft {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  text-align: left;
}

@media (max-width: 767px) {
  .colLeft {
    text-align: left;
  }
  
  .colLeft h1 {
    text-align: left;
  }
  
  .colLeft p {
    text-align: left;
  }
}

.colRight {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .colLeft {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .colRight {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .colLeft {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .colRight {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.homenewbanner1 {

  object-fit: cover;
  max-width: 80%;
  margin-bottom: -5.625rem;
  width: 100%;
}

.extraPaddingTop {
  padding-top: 7.5rem;
}

@media (min-width: 1920px) {
  .extraPaddingTop {
    padding-top: 8.75rem;
  }
}

/* Desktop/Laptop (1366px - 1919px) */
@media (min-width: 1366px) and (max-width: 1919px) {
  /* .homenewbanner1 {
    height: 760px;
    margin-bottom: -90px;
  } */

  .extraPaddingTop {
    padding-top: 9rem;
  }
}

/* iPad Pro (1024px - 1365px) */
@media (min-width: 1024px) and (max-width: 1365px) {
  /* .homenewbanner1 {
    height: 650px;
    margin-bottom: -70px;
  } */

  .extraPaddingTop {
    padding-top: 6.25rem;
  }
}

/* iPad (992px - 1023px) */
@media (min-width: 992px) and (max-width: 1023px) {
  /* .homenewbanner1 {
    height: auto;
    margin-bottom: 0;
  } */

  .extraPaddingTop {
    padding-top: 5.625rem;
  }
}

/* iPad (768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  /* .homenewbanner1 {
    height: auto;
    max-width: 300px;
    margin: 0 auto -85px;
  } */

  .extraPaddingTop {
    padding-top: 5rem;
  }

  .tabsContainer {
    border-radius: 0 !important;
  }
}

/* Mobile (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  /* .homenewbanner1 {
    height: auto;
    margin-bottom: 0;
  } */

  .extraPaddingTop {
    padding-top: 3.75rem;
  }
}

/* Small Mobile (below 576px) */
@media (max-width: 575px) {
  /* .homenewbanner1 {
    height: auto;
    margin-bottom: 0;
  } */

  .homenewbanner1 {
    margin-bottom: -4.325rem;
  }


  .extraPaddingTop {
    padding-top: 2.5rem;
  }
}

.experienceBox {
  position: relative;
  background-color: #21164c;
  border: 0.0625rem solid #312367;
  overflow: hidden;
}

.experienceBox::before {
  content: "";
  position: absolute;
  bottom: 0%;
  right: -1rem;
  width: 10rem;
  height: 15rem;
  background: url("/assets/images/1.webp") no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.experienceBox>* {
  position: relative;
  z-index: 1;
}

.checkItem {
  position: relative;
  padding-left: 2rem;
}

.checkItem::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.1rem;
  width: 1.125rem;
  height: 1.125rem;
  background-image: url("/assets/images/tick.webp");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  .experienceBox {
    padding: 1.25rem;
    text-align: left ;
  }
}

/* Force left alignment on mobile for non-home pages */
@media (max-width: 767px) {
  .HomenewBanner .sectionHeading {
    text-align: left !important;
  }
  
  .HomenewBanner .sectionHeading > h1,
  .HomenewBanner .sectionHeading > h2,
  .HomenewBanner .sectionHeading > h4,
  .HomenewBanner .sectionHeading > p {
    text-align: left !important;
  }
}