.section {
  background: #070423;
  position: relative;
}

.section::before {
  content: "";
  position: absolute;
  top: 2%;
  left: -6%;
  width: 28rem;
  height: 36rem;
  background: url("/assets/images/1.webp") no-repeat;
  background-size: cover;
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
  background:#21164c;
  border-radius: 30px;
  padding: 2rem;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .05) 1px, transparent 0), linear-gradient(90deg, rgba(255, 255, 255, .05) 1px, transparent 0);
    background-size: 40px 40px, 40px 40px;
    background-repeat: repeat, repeat;
    background-position: 0 0, 0 0;
    position: relative;
    z-index: 0;
}

.imageSection {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 1rem;
}

.textSection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.heading {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  color: #ffffff;
  margin: 0;
}

.description {
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.7;
  margin: 0;
  margin-top: 0rem !important;
}

.buttonWrapper {
  margin-top: 0.5rem;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .section {
  }

  .contentWrapper {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 1.75rem;
  }

  .imageSection {
    order: 1;
  }

  .textSection {
    order: 2;
  }

  .heading {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .section::before{
    content: none;
  }

  .contentWrapper {
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 20px;
  }

  .heading {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }
}

@media (max-width: 640px) {

  .contentWrapper {
    gap: 1.5rem;
    padding: 1.25rem;
    border-radius: 16px;
  }

  .heading {
    font-size: 1.75rem;
  }

  .description {
    font-size: 0.9375rem;
  }
}

@media (max-width: 480px) {


  .contentWrapper {
    padding: 1rem;
    border-radius: 12px;
  }

  .heading {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.875rem;
  }
}

