.service-scrollerArea li {
  margin-top: 1rem;
}

.stack-cards {
  --stack-cards-gap: 2.225rem;
  margin-bottom: -40vh !important;
}

.stack-cards__item {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 24vh;
  height: 80vh;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.scrollerItem {
  border: 1px solid #221f33;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow: hidden;
  position: relative;
}

.scrollerItem::before {
  content: "";
  width: 100%;
  height: 121%;
  background: url("../images/white-rocket.webp");
  z-index: -1;
  opacity: 0.05;
  max-width: 30rem;
  position: absolute;
  top: 0;
  left: 60%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(-50%, 0px);
}

.inner-div div span {
  color: #fff;
  background-color: #643bff;
  border-radius: 0.425rem;
  padding: 0.215rem 0.75rem 0.425rem;
  font-size: 1rem;
  font-weight: 500;
}

.inner-div p {
  color: #0fdac2;
  margin-bottom: 1rem;
  font-size: 1.226rem;
  font-weight: 500;
}

.section-heading-para h2 {
  margin: 0 auto 30px;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}
div.scrollerItem {
  border-radius: 1.335rem;
  padding: 2.5rem 0.625rem !important;
}
.scrollerItem {
  background: #100c21;
  border: 1px solid #221f33;
  border-radius: 0.5rem;
  padding: 1rem;
}
.inner-div .inner-tags {
  margin-bottom: 2rem;
}
.section-heading-para h2 > span {
  color: var(--color-primary);
}
.inner-div h3 {
  color: #fff;
  font-size: 2.525rem;
  font-weight: 600;
}

.pb_8 {
  padding-bottom: 9rem;
}

.tabSection .nav-link.active {
  background-color: transparent !important;
  color: #473b81;
  font-weight: 700;
}

.tabSection .nav-link {
  font-weight: 700;
  color: #fff;
  text-align: left;
  font-size: 1.14rem;
  padding-top: 0.2rem;
}

@media (min-width: 1600px) {
  .scrollerItem {
    padding: 2.55rem 1rem !important;
  }
}

@media (max-width: 768px) {
  .scrollerItem {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
  }

  .stack-cards__item {
    top: 6vh;
  }

  .service-scrollerArea {
    padding-left: 0;
  }

  .pb_8 {
    padding-bottom: 3.75rem;
  }

  .stack-cards {
    margin-bottom: 10vh !important;
  }
}

@media (max-width: 1400px) and (min-width: 1200px) {
  .sectionPaddingCase {
    padding-bottom: 13rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #serviceScrollerArea {
    margin-bottom: 0 !important;
  }

  #caseStudySection .pb_8 {
    padding-bottom: 3.5rem !important;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1100px) {
  .stack-cards__item {
    position: static !important;
    top: unset !important;
    height: unset !important;
  }

  #serviceScrollerArea {
    margin-bottom: 0 !important;
  }
}

.caseImg {
  min-width: 25rem;
  position: absolute;
  bottom: -0.215rem;
  right: 2rem;
}

li.socialMediaMarketing .caseImg {
  min-width: 27rem;
}

/* Tabs Navigation Styles */
.tabSection {
  position: relative;
}

/* Fade transition for cards */
.service-scrollerArea {
  transition: opacity 0.1s ease-in-out;
}

.tabs-navigation {
  position: sticky;
  top: 0;
  z-index: 50;
  background: #100c21;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.tabSection button {
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.tabSection button:focus {
  outline: none;
}

/* Tab button styles */
.tabSection button.rounded-t-lg {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

@media (max-width: 768px) {
  .tabSection button {
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
  }

  .tabs-navigation {
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
  }
}
