.aeroicon {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 600px;
  height: 600px;
  opacity: 0.6;
  z-index: 1;
}
.businesscontainer {
  position: relative;
  z-index: 2;
}
/* Swiper Customization */
.brandingKitsSwiper :global(.swiper) {
  overflow: visible;
}

.brandingKitsSwiper :global(.swiper-wrapper) {
  align-items: flex-start;
}

.brandingKitsSwiper :global(.swiper-slide) {
  height: auto;
}

/* Hide default navigation */
.brandingKitsSwiper :global(.swiper-button-prev),
.brandingKitsSwiper :global(.swiper-button-next) {
  display: none;
}
.sliderwrapper {
  position: relative;
  background: #050321;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid #9b7eff4d;
}
.brandingKitsTitle {
  color: #fff;
  width: fit-content;
  display: block;
  margin: 0 auto;
}
.highlighted {
  color: #0fdac2;
}
.navButton {
  color: #fff;
  background: #0d0934;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translate(0px, 50%);
  border: 1px solid #6848df4d;
}
.navButton:hover {
  background: var(--color-purple);
}
.separatorLine {
  border: 1px solid #21164c;
  background: #312763;
  border-radius: 0.525rem;
  padding: .22rem .225rem .345rem .525rem;
}
/* .separatorLine::after {
  content: "";
  background: #072e41;
  width: 1px;
  height: 100%;
  position: absolute;
  bottom: -0.225rem;
  left: 45%;
}
.separatorLine > div::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.535rem;
  width: 120%;
  height: 1px;
  background: #072e41;
} */
