/* components/ContactPage/ContactCta/ContactCta.module.css */

.ctaBox {
  /* background: radial-gradient(circle at top left, #23204a 0%, #17133a 60%); */
  background: #1d0e57;
  position: relative;
  overflow: hidden;
}

/* Rocket shapes / abstract pattern */
.ctaBox::before,
.ctaBox::after {
  content: "";
  position: absolute;
  background-image: url("/assets/cta-bg-pattern.png"); /* optional image */
  background-repeat: no-repeat;
  background-size: 300px;
  opacity: 0.08;
}

/* left side pattern */
.ctaBox::before {
  top: -30px;
  left: -50px;
  width: 300px;
  height: 300px;
}

/* right side pattern */
.ctaBox::after {
  bottom: -20px;
  right: -40px;
  width: 320px;
  height: 320px;
}

.rocket1 {
     width: 211px;
    position: absolute;
    top: 38px;
    left: -53px;

}

.rocket2 {
       width: 211px;
    position: absolute;
    top: 38px;
    right: -74px;
}