.logosSliderSection {
  background-color: #21164c;
  padding: 1.325rem 0rem;
}

.logosSliderSection {
  position: relative;
  width: 100%;
}

.logosSliderSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: linear-gradient(to right, #03001d, transparent);
  z-index: 11;
  pointer-events: none;
}

.logosSliderSection::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background: linear-gradient(to left, #03001d, transparent);
  z-index: 11;
  pointer-events: none;
}

.logoItems {
  display: inline-flex;
  align-items: center;
  gap: 3rem;
  animation: scroll-left 80s linear infinite;
  will-change: transform;
  position: relative;
  z-index: 2;
}

.logoItems:hover {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 576px) {
  .logoItems img {
    max-width: 6rem !important;
  }
}

/* Smooth scrolling effect */
.logoItems img {
  flex-shrink: 0;
  opacity: 0.7;
  transition: opacity 0.3s ease, transform 0.3s ease;
  filter: grayscale(100%);
  max-width: 9rem;
}

.logoItems img:hover {
  opacity: 1;
  filter: grayscale(0%);
  transform: scale(1.05);
}
