.logosSliderSection {
  background-color: #21164c;
  padding: 1.625rem 0;
}
.heroBrand {
  position: relative;
  width: 100%;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.logoItems {
  display: inline-flex;
  align-items: center;
  gap: 3rem;
  animation: scroll-left 80s linear infinite;
  will-change: transform;
}

.logoItems:hover {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 576px) {
  .logoItems img {
    max-width: 6rem !important;
  }
}

/* Smooth scrolling effect */
.logoItems img {
  flex-shrink: 0;
  opacity: 0.7;
  transition: opacity 0.3s ease, transform 0.3s ease;
  filter: grayscale(100%);
  max-width: 12rem;
}

.logoItems img:hover {
  opacity: 1;
  filter: grayscale(0%);
  transform: scale(1.05);
}
