/* .ctaBanner {
  position: relative;
  display: flex;
  align-items: center;
  background: url('../../../../public/assets/images/cta-banner.webp') no-repeat center center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 0;
}

@media (max-width: 768px) {
  .ctaBanner {
    min-height: 10rem;
  }
} */

.ctaBanner {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2rem 0;
  background: url('/assets/images/cta-banner.webp') no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.ctaBanner::before,
.ctaBanner::after {
  content: "";
  position: absolute;
  top: 0;
  width: 250px;    /* bigger shadow */
  height: 100%;
  pointer-events: none;
}

.ctaBanner::before {
  left: 0;
  background: linear-gradient(to right, rgba(33, 22, 76, 0.9), transparent);
}

.ctaBanner::after {
  right: 0;
  background: linear-gradient(to left, rgba(33, 22, 76, 0.9), transparent);
}

.scrolling-text {
  overflow: hidden;
  width: 100%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  position: relative;
  height: auto;
  min-height: auto;
}

.rail {
  display: flex;
  flex-direction: row;
  will-change: transform;
  align-items: center;
  position: relative;
}

.rail h4 {
  white-space: nowrap;
  font-size: clamp(32px, 5vw, 60px);
  font-weight: 600;
  line-height: 1em;
  margin-right: 30px;
  color: #fff;
  display: inline-block;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .rail h4 {
    font-size: 32px;
    margin-right: 20px;
  }
  
  .scrolling-text {
    padding: 1.5rem 0;
  }
}
