.ctaBanner {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2rem 0;
  background: url('/assets/images/cta-banner.webp') no-repeat center center;
  background-size: cover;
  overflow: hidden;
  mask-image: linear-gradient(to right, #fff0 0%, #03001d 20% 65%, #fff0 100%);
  -webkit-mask-image: linear-gradient(to right, #fff0 0%, #03001d 20% 65%, #fff0 100%);
  z-index: 1;
}

.ctaBanner::before,
.ctaBanner::after {
  content: "";
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  pointer-events: none;
}

.ctaBanner::before {
  left: 0;
  background: linear-gradient(to right, #19103d, transparent);
  z-index: 1;
}

.ctaBanner::after {
  right: 0;
  background: linear-gradient(to left, #19103d, transparent);
  z-index: 1;
}

.scrolling-text {
  overflow: hidden;
  width: 100%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  position: relative;
  height: auto;
  min-height: auto;
  mask-image: linear-gradient(to right, #fff0 0%, #000000 25%, #000000 75%, #fff0 100%);
  -webkit-mask-image: linear-gradient(to right, #fff0 0%, #000000 25%, #000000 75%, #fff0 100%);
}

.rail {
  display: flex;
  flex-direction: row;
  will-change: transform;
  align-items: center;
  position: relative;
}

.rail h4 {
  white-space: nowrap;
  font-size: clamp(32px, 5vw, 60px);
  font-weight: 600;
  line-height: 1em;
  margin-right: 30px;
  color: #fff;
  display: inline-block;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .rail h4 {
    font-size: 32px;
    margin-right: 20px;
  }
  
  .scrolling-text {
    padding: 1.5rem 0;
  }
}
